/* styles.css */

html {
    background: linear-gradient(#4e75ff, #f384ff);
}

.frame {
    border-radius: 30px;
    background-color: white;
    margin: 2% 18% 2% 18%;
    padding: 2% 5%;
}

h1 {
    position: relative;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 40px;
    color: #080808;

    text-align: center;
    text-transform: uppercase;
    padding: 0 2% 3% 2%;
}
