/* styles.css */

html {
    margin: 0;
    padding: 0;
    background: linear-gradient(#b4d2ff, #6d8afd);
}

#main_frame {

    border-radius: 25px;

    display: flex;
    justify-content: center;
    background-color: white;

    margin: 5% 20%;
    padding: 5% 20%;
}