/* styles.css */

html {
    background: linear-gradient(#b4d2ff, #6d8afd);
}

.frame {
    border-radius: 25px;
    background-color: white;
    margin: 1% 18% 1% 18%;
    padding: 5% 8%;
}

.nav_bar {
    border-radius: 25px;
    background-color: white;
    margin: 2% 18% 2% 18%;
    padding: 2% 5%;
}